<!DOCTYPE html>
<html>
  <head>
    <title>Blank</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/themes/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/project/css/dashboard.css">

    <script src="/jquery/jquery-2.1.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Blank</a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>

    {{template "content" .}}
  </body>
</html>
